<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <!--eZeeTest LOCALDATABASE-->
    <!--<add key="ConnectionString" value="Data Source=JITENDRA-PC;Initial Catalog=onlineexamLocal;Integrated Security=True"/>-->
    <!--MYCT DATABASE-->
    <!--<add key="MyctConnectionString" value="Data Source=www.come2mycity.com;Initial Catalog=Come2MyCityDB;Persist Security Info=True;User ID=come2mycity; Password=myct2013;MultipleActiveResultSets=True" />-->

    <!--<add key="MyctConnectionString" value="Data Source=www.truevoters.in;Initial Catalog=Come2MyCityDB;User ID=truevoter; Password=myabhinavit@123;pooling='true';Min Pool Size=0; Max Pool Size=200;" />-->
    
    <add key="MyctConnectionString" value="Data Source=103.10.191.60;Initial Catalog=Come2MyCityDB;Persist Security Info=True;User ID=sa;Password=K17jyjo8/T+6z2v;" />
    <!--eZeeTest database-->
    <!--<add key="ConnectionString" value="Data Source=www.truevoters.in;Initial Catalog=DBeZeeOnlineExam;User ID=truevoter;Password=myabhinavit@123;pooling='true';Min Pool Size=0; Max Pool Size=200;" />-->
    
    <add key="ConnectionString" value="Data Source=103.10.191.60;Initial Catalog=DBeZeeOnlineExam;Persist Security Info=True;User ID=sa;Password=K17jyjo8/T+6z2v;" />
    
    <!--DBeZeeSchool Database-->
    <add key="SchoolConnectionString" value="server=www.truevoters.in;Initial Catalog=DBeZeeSchool; Persist Security Info=True; User Id=ezeesoftschooluser; Password=ezeeschool!@12;Min Pool Size=20; Max Pool Size=200;" />
    <add key="in.myct.ExamMyct" value="http://myct.in/webservice/ExamMyct.asmx" />
  </appSettings>
  <!--<connectionStrings>
    <add name="SchoolConnectionString" connectionString="server=103.16.140.243;Initial Catalog=DBeZeeSchool; Persist Security Info=True; User Id=ezeesoftschooluser; Password=ezeeschool!@12;Min Pool Size=20; Max Pool Size=200;"/>
  </connectionStrings>-->
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    <!--<authentication mode="Forms">
        <forms timeout="50"/>
      </authentication>

      <sessionState timeout="60"  />-->
    <sessionState timeout="5400" />
    <!--<httpRuntime  maxRequestLength="50" />-->
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <!-- This will handle requests up to 1024MB (1GB) -->
    <httpRuntime executionTimeout="9999" maxRequestLength="1048576" />
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <identity impersonate="false" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
   
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>